.html {
    width: 195px;
    height: 115px;
    overflow: auto;
}

.container {
    padding: 8px
}

.title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 1rem;
}

.list {
    margin: 0;
    padding-left: 18px;
    font-size: 6pt;
    text-align: justify
}